[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "*"
streamlit = "*"
faiss-cpu = "*"
"pdfminer.six" = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.9"
